.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
__pycache__/
migrations/
config.py
app/__pycache__/
logs/*
app/__pycache__/__init__.cpython-37.pyc
app/__pycache__/__init__.cpython-38.pyc
app/__pycache__/customquery.cpython-38.pyc
app/__pycache__/email.cpython-38.pyc
app/__pycache__/errors.cpython-38.pyc
app/__pycache__/forms.cpython-38.pyc
app/__pycache__/models.cpython-38.pyc
app/__pycache__/routes.cpython-37.pyc
app/__pycache__/routes.cpython-38.pyc
app/__pycache__/search.cpython-38.pyc
app/__pycache__/servers.cpython-38.pyc
logs/project.log
logs/project.log.5
logs/project.log.10
