<script type="text/javascript">
    window.confirmDelete = (function (element) {
        var className = element.className;
        
        if (className.indexOf('need-to-confirm') > -1) {
            element.className = className.replace('need-to-confirm', 'confirmed');
            return false;
        } else {
            element.remove();
        }
});
</script>
<div class="col-xl-2 col-md-3 col-sm-2">
    <div class="thumbnail">
        <a href="{{ url_for('adpost', id=adpost.id )}}"><img src="{{ url_for('image', filename=adpost.image ) }}" style="width:200px;height:auto;"></a> 
        <div class="caption">
            <h4>
                <a href="{{ url_for('adpost', id=adpost.id )}}">{{ adpost.title }}</a> 
                <br>
        {{ adpost.price }} $$</h3></div>
        Автор: <a href="{{url_for('user', username=adpost.author.username)}}">{{ adpost.author.username }}</a><br>
        {% if current_user.is_admin %}
            <div class="container">
            <a href="{{ url_for('adpost_edit', id=adpost.id)}}"><button class="btn-xs btn btn-info"> Edit</button></a>
            <a href="{{ url_for('adpost_delete', id=adpost.id)}}" onclick="return confirmDelete(this);" class="btn btn-xs need-to-confirm">
                    <button class="btn btn-xs btn-danger maintext">✘ Удалить?</button>
                    <button class="btn btn-xs btn-danger confirmation">✔ Точно?</button>
                </a>
                </div>
        {% endif %}
        
        
    </div>
</div>
